<h1><%= @list.title %></h1>
<table class="table table-striped">
  <tr>
    <td>Description</td>
    <td>Days Left</td>
    <td>Completed</td>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.description %></td>
      <td><%= item.created_at %></td>

      <td><%= check_box_tag "completed[item_ids]", item.id %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New Todo Item", new_list_item_path(@list, @item), class: 'btn btn-large' %>
